%h1 Tasks

- @tasks.each do |a|
	Name:
	= a.task_name
	%br
	Description
	= a.description
	%br
	Due on:
	= a.due_date
	%br
	Task Status:
	- if a.done == false
		="NOT DONE"
	- else
		="DONE"
	= button_to "Edit", edit_task_path(a), method: :get
	= button_to "Delete", task_path(a), method: :delete
	= button_to "Mark Done", show_not_done_item_task_path(a), method: :get

	/ - if a.done == false then 
	/ 	=form_for a, url: "tasks/#{a.id}", action: "PUT" do |t|
	/ 		=t.hidden_field :done, :value => true	
	/ 		=t.submit "Mark Done"
	
	%br
	%br


%div(class="task-search")
	= form_tag(search_tasks_path, method: "get") do
		= label_tag("Search for assignees")
		= text_field_tag "search[assignee_name]"
		= label_tag("Search for tasks")
		= text_field_tag "search[task_name]"
		= label_tag("Date From:")
		= text_field_tag "search[due_date_from]"
		= label_tag("Date To:")
		= text_field_tag "search[due_date_to]"
		= label_tag("Task Complete?:")
		= text_field_tag "search[done]"
		= submit_tag "Search", class: 'btn-search'
	%br
	=link_to "Add a new task", new_task_path, class: 'centered'